.App {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

body h3 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*  NAVBAR  */

#dropdownmenu {
  background-color: #5fda18;
}

/*  HOME PAGE  */
.imgcarousel {
}

#btnnews {
  background-color: yellow;
  color: #3f8755;
  border: 0;
}

.indispensabili {
  width: 150px;
}

.efficenza {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.stilizzati {
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

#btntrue :hover {
  background-color: #5fda18;
  border: 1px #5fda18;
}

/*  FOOTER  */
.colFooter h4 {
  color: #3f8755;
}

.listaFooter a {
  text-decoration: none;
  color: black;
}

.listaFooter a :hover {
}

.social {
  color: rgb(85, 85, 85);
}

.social :hover {
  color: #3f8755;
}

/* Dettaglio */

#imgDetail img {
  width: 50%;
  min-width: 200px;
}
