body h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*  NAVBAR  */

#dropdownmenu {
  background-color: #5fda18;
}

/*  HOME PAGE  */
.imgcarousel {
}

.indispensabili {
  width: 150px;
}

.efficenza {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.stilizzati {
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

/*  FOOTER  */
.colFooter h4 {
  color: #3f8755;
}

.listaFooter a {
  text-decoration: none;
  color: black;
}

.listaFooter a :hover {
}

.social {
  color: rgb(85, 85, 85);
}

.social :hover {
  color: #3f8755;
}
